{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.github.clj-easy/graal-build-time {:mvn/version "0.1.4"}
        org.clojure/clojurescript {:mvn/version "1.11.54"}
        org.clojure/core.specs.alpha {:mvn/version "0.2.62"}
        re-frame/re-frame {:mvn/version "1.3.0"}
        integrant/integrant {:mvn/version "0.8.0"}
        metosin/reitit {:mvn/version "0.5.18"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        ring/ring-core {:mvn/version "1.9.6"}
        ring/ring-jetty-adapter {:mvn/version "1.9.6"}
        org.postgresql/postgresql {:mvn/version "42.5.1"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.847"}
        com.github.seancorfield/honeysql {:mvn/version "2.4.947"}
        dev.weavejester/ragtime {:mvn/version "0.9.3"}}
 :aliases
 {:dev {:extra-paths ["target"]
        :extra-deps {cider/piggieback {:mvn/version "0.5.3"}
                     com.bhauman/figwheel-main {:mvn/version "0.2.18"}}}
  :test {:main-opts ["-m" "kaocha.runner"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.71.1119"}
                      org.clojure/test.check {:mvn/version "1.1.1"}}}
  :build-cljs {:main-opts ["-m" "figwheel.main" "-bo" "release"]
               :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.18"}}}
  :build {:deps {org.clojure/tools.build {:mvn/version "0.8.4"}}
          :ns-default build}}}
