{:up ["
CREATE TABLE files (
  tag TEXT NOT NULL PRIMARY KEY,
  original_name TEXT NOT NULL,
  uploader_ip TEXT NOT NULL,
  uploaded_at TEXT NOT NULL,
  expires_at TEXT NOT NULL
)"]
 :down ["DROP TABLE files"]}
